@font-face {
    font-family: 'Fredoka One';
    src: url('../Font/Fredoka_Condensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

  .text-fredoka {
    font-family: 'Fredoka One', sans-serif;
  }

.warna-1{
    color: #FF8A00;
}

.warna-2{
    color: #002347;
}

.link-daftar{
    color: #ffffff;
    text-decoration: none;
}

.button{
    background-color: #FF8A00;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 13px;
    display: inline-flex;
    margin: 5px;
    cursor: pointer;
}

.button1:hover {
    background-color: #002347;
    color: white;
}

.buttonn{
    background-color: #002347;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 13px;
    display: inline-flex;
    margin: 5px;
    cursor: pointer;
}

.button2:hover {
    background-color: #FF8A00;
    color: white;
}

.input {
    margin-top: 1rem !important;
  }
  
.input::file-selector-button {
  font-weight: bold !important;
  color: #fff !important;
  padding: 0.5em !important;
  background-color: #0D6EFD !important;
  border-radius: 3px !important;
}

.error-icon::before {
    content: "✗";
    color: #dc3545;
    font-size: 14px;
    margin-right: 5px;
}

.is-invalid {
    border-color: #dc3545; /* Ubah warna batas input yang tidak valid */
  }
  
  .invalid-feedback {
    color: #dc3545 !important; /* Ubah warna teks pesan kesalahan */
    font-size: 14px !important; /* Ubah ukuran teks pesan kesalahan sesuai kebutuhan */
  }

  .hero{
    background-image: url("../image/hero.png");
  }

  .link-program{
    color: #FF8A00;
    text-decoration: none;
  }
  .link-program:hover{
    color: #002347;
  }