@font-face {
    font-family: 'Fredoka One';
    src: url('../Font/Fredoka_Condensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

  .text-fredoka {
    font-family: 'Fredoka One', sans-serif;
  }

  .link-headd{
    color: #FF8A00;
    text-decoration: none;
  }
  
  .link-headd:hover {
    color: #002347;
  }

  .button-kembali{
    background-color: #002347;
    border-radius: 10px;
    border: none;
    color: white;
    padding: 10px 15px;
    display: inline-flex;
    cursor: pointer;
  }
  
  .button-kembali:hover {
    background-color: #FF8A00;
    color: white;
  }